# Sample environment file.

OPENAI_API_KEY=sk-sample-1234567890abcdef
OLLAMA_HOST=http://localhost:11434
LM_STUDIO_HOST=http://localhost:1234/v1
EXPERIMENT_RUN_ID=experiment_run_001
GITHUB_REPOSITORY_URL=https://github.com/Ahmed-Bardhek/CS321_research_paper